lti1p3:
    scopes:
        - 'https://purl.imsglobal.org/spec/lti-nrps/scope/contextmembership.readonly'
        - 'https://purl.imsglobal.org/spec/lti-bo/scope/basicoutcome'
        - 'https://purl.imsglobal.org/spec/lti-ags/scope/score'
        - 'https://purl.imsglobal.org/spec/lti-ap/scope/control.all'
    key_chains:
        kid1:
            key_set_name: "platformSet"
            public_key: "file://%kernel.project_dir%/config/keys/public.key"
            private_key: "file://%kernel.project_dir%/config/keys/private.key"
            private_key_passphrase: ~
        kid2:
            key_set_name: "toolSet"
            public_key: "file://%kernel.project_dir%/config/keys/public.key"
            private_key: "file://%kernel.project_dir%/config/keys/private.key"
            private_key_passphrase: ~
    platforms:
        demoPlatform:
            name: "Demo app platform"
            audience: "%application_host%/platform"
            oidc_authentication_url: "%application_host%/lti1p3/oidc/authentication"
            oauth2_access_token_url: "http://demo_lti1p3_nginx/lti1p3/auth/kid1/token"
    tools:
        demoTool:
            name: "Demo app tool"
            audience: "%application_host%/tool"
            oidc_initiation_url: "%application_host%/lti1p3/oidc/initiation"
            launch_url: "%application_host%/tool/launch"
            deep_linking_url: "%application_host%/tool/launch/deep-linking"
    registrations:
        demo:
            client_id: "client_id"
            platform: "demoPlatform"
            tool: "demoTool"
            deployment_ids:
                - "deploymentId1"
                - "deploymentId2"
            platform_key_chain: "kid1"
            tool_key_chain: "kid2"
            platform_jwks_url: "%application_host%/lti1p3/.well-known/jwks/platformSet.json"
            tool_jwks_url: "%application_host%/lti1p3/.well-known/jwks/toolSet.json"
