/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#topBar {
    background-color: #32383E!important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #32383E;
    color: #fafafa;
    transition: all 0.3s;
}

#sidebar .accordion {
    cursor: pointer;
}

#sidebar hr {
    border-top: 1px solid #fafafa;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 7px;
    background: #32383E;
}

#sidebar .sidebar-header a,
#sidebar a.card-header {
    color: #fafafa;
    text-decoration: none;
}

.dropdown-toggle::after {
    position: absolute;
    right: 20px;
    top: 23px;
    transition-duration: 0.3s;
}

.dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
    transition-duration: 0.3s;
    top: 23px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#home-jumbotron {
    padding: 2rem 1rem !important;
}

#content {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

form label {
    font-weight: 600;
}

dl dt {
    font-weight: 500;
}

mark {
    background: orange;
    color: black;
}

.language-json {
    background-color: #f8f9fa !important;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.clickable {
    cursor: pointer;
}

div.dropdown-multicol{
    width: 30em;
}
div.dropdown-row>a.dropdown-item{
    display:inline-block;
    width: 49%;
}

/* ---------------------------------------------------
    DATATABLES
----------------------------------------------------- */

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate  {
    font-size: 90%;
    font-weight: 400;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    .navbar-brand {
        max-width: 280px;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (min-width: 576px) {
    .jumbotron.jumbotron-small {
        padding: 1rem 2rem;
    }
}