{% extends 'base.html.twig' %}

{% block nav_title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h3>Yo, hello</h3>
        <p>Some welcome message</p>
    </div>
{% endblock body %}