{% for type, messages in app.flashes %}
    {% for message in messages %}
        {% if type == 'error' %}
            {% set color = 'danger' %}
            {% set icon = 'exclamation-circle' %}
        {% elseif type == 'warning' %}
            {% set color = 'warning' %}
            {% set icon = 'exclamation-triangle' %}
        {% else %}
            {% set color = 'success' %}
            {% set icon = 'check-circle' %}
        {% endif %}
        <div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
            <i class="fas fa-{{ icon }}"></i>&nbsp;{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}

