<div class="modal fade" id="formShareModal" tabindex="-1" role="dialog" aria-labelledby="formShareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nrpsMemberModalLabel"><i class="fas fa-info-circle"></i>&nbsp;Generator share url</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="shareUrlField" rows="15">{{ url }}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="shareCopy" type="button" class="btn btn-info">
                        <i id="shareCopyLogo" class="fas fa-copy"></i>&nbsp;
                        <span id="shareCopyText">Copy to clipboard</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function copyUrlToClipboard() {

        $('#shareUrlField').select();
        document.execCommand("copy");

        $('#shareCopy').removeClass('btn-info');
        $('#shareCopy').addClass('btn-success');
        $('#shareCopyLogo').removeClass('fa-copy');
        $('#shareCopyLogo').addClass('fa-check');
        $('#shareCopyText').html('Copied !');
        setTimeout(
            function() {
                $('#shareCopy').removeClass('btn-success');
                $('#shareCopy').addClass('btn-info');
                $('#shareCopyLogo').removeClass('fa-check');
                $('#shareCopyLogo').addClass('fa-copy');
                $('#shareCopyText').html('Copy to clipboard');

            },
            1500
        );
    }

    $("#shareCopy").click(function(event){
        copyUrlToClipboard();
    });
</script>
