<div class="input-group mb-3">
    <input type="text" id="claimSearch" class="form-control" placeholder="Search">
    <div class="input-group-append">
        <button id="claimSearchReset" class="btn-secondary btn"><i class="fas fa-undo-alt"></i>&nbsp;Reset</button>
    </div>
</div>

<pre>
    <code id="claimZone" class="language-json">{{ token.payload.token.claims.all|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}</code>
</pre>

<script>
    $("#claimSearch").on("input", function(){
        $("#claimZone").unmark({
            done: function() {
                $("#claimZone").mark($("#claimSearch").val());
            }
        });
    });

    $("#claimSearchReset").click(function(){
        $("#claimSearch").val("");
        $("#claimZone").unmark();
    });

    hljs.initHighlightingOnLoad();
</script>
