{% if not token.validationResult.hasError %}
    <div class="alert alert-info" role="alert">
        <i class="fas fa-check"></i>&nbsp;
        Message is valid
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-circle"></i>&nbsp;
        Message is invalid
    </div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h6 class="card-title">
            <i class="fas fa-info-circle"></i>&nbsp;Details
        </h6>
        <hr/>
        <dl class="list-unstyled">
            <dt>LTI Version</dt>
            <dd><code>{{  token.payload.version }}</code></dd>
            <dt>LTI Message Type</dt>
            <dd><code>{{ token.payload.messageType }}</code></dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h6 class="card-title">
            <i class="fas fa-check-circle"></i>&nbsp;Validations
        </h6>
        <hr/>

        <dl class="list-unstyled">
            <dd>
                {% for success in token.validationResult.successes %}
                    <span class="badge badge-pill badge-success"><i class="fas fa-check"></i></span>&nbsp{{ success }}<br/>
                {% else %}
                    n/a
                {% endfor %}
            </dd>
        </dl>
    </div>
</div>
