{% if not token.validationResult.hasError %}
    <div class="alert alert-info" role="alert">
        <i class="fas fa-check"></i>&nbsp;
        Message is valid
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-circle"></i>&nbsp;
        Message is invalid
    </div>
{% endif %}
<div class="card-deck">
    <div class="card bg-light">
        <div class="card-header">
            <i class="fas fa-info-circle"></i>&nbsp;Details
        </div>
        <div class="card-body">
            <dl class="list-unstyled">
                <dt>LTI version</dt>
                <dd><code>{{  token.payload.version }}</code></dd>
                <dt>LTI message type</dt>
                <dd><code>{{ token.payload.messageType }}</code></dd>
            </dl>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header">
            <i class="fas fa-check-circle"></i>&nbsp;Validations
        </div>
        <div class="card-body">
            <dl class="list-unstyled">
                <dd>
                    {% for success in token.validationResult.successes %}
                        <span class="badge badge-pill badge-success"><i class="fas fa-check-circle"></i></span>&nbsp{{ success }}<br/>
                    {% else %}
                        n/a
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </div>
</div>
