<form id="lineItemEditForm">
    <input type="hidden" id="lineItemRegistration" name="lineItemRegistration" value="{{ registration.identifier }}">
    <input type="hidden" id="lineItemContainerUrl" name="lineItemContainerUrl" value="{{ containerUrl }}">
    <div class="form-group">
        <label for="lineItemLabel">Label</label>
        <input type="text" class="form-control" id="lineItemLabel" name="lineItemLabel"  aria-describedby="lineItemLabelHelp">
        <small id="lineItemLabelHelp" class="form-text text-muted">Line item label</small>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="lineItemScoreMaximum">Score maximum</label>
                <input type="number" class="form-control" id="lineItemScoreMaximum" name="lineItemScoreMaximum" aria-describedby="lineItemScoreMaximumHelp">
                <small id="lineItemScoreMaximumHelp" class="form-text text-muted">Line item score maximum</small>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="lineItemTag">Tag</label>
                <input type="text" class="form-control" id="lineItemTag" name="lineItemTag" aria-describedby="lineItemTagHelp">
                <small id="lineItemTagHelp" class="form-text text-muted">Line item tag</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="lineItemResourceIdentifier">Resource identifier</label>
                <input type="text" class="form-control" id="lineItemResourceIdentifier" name="lineItemResourceIdentifier" aria-describedby="lineItemResourceIdentifierHelp">
                <small id="lineItemResourceIdentifierHelp" class="form-text text-muted">Line item resource identifier</small>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="lineItemResourceLinkIdentifier">Resource link identifier</label>
                <input type="text" class="form-control" id="lineItemResourceLinkIdentifier" name="lineItemResourceLinkIdentifier" aria-describedby="lineItemResourceLinkIdentifierHelp">
                <small id="lineItemResourceLinkIdentifierHelp" class="form-text text-muted">Line item resource link identifier</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="lineItemStartDateTime">Start date</label>
                <div class="input-group" id="lineItemStartDateTimeDatetimepicker" data-target-input="nearest">
                    <div class="input-group-prepend">
                        <a class="btn btn-secondary text-white" data-target="#lineItemStartDateTimeDatetimepicker" data-toggle="datetimepicker">
                            <i class="fas fa-calendar-day" aria-hidden="true"></i>
                        </a>
                    </div>
                    <input id="lineItemStartDateTime" name="lineItemStartDateTime" type="text" class="form-control datetimepicker-input" data-target="#lineItemStartDateTimeDatetimepicker" aria-describedby="lineItemStartDateTimeHelp"/>
                </div>
                <small id="lineItemStartDateTimeHelp" class="form-text text-muted">Line item start date</small>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="lineItemEndDateTime">End date</label>
                <div class="input-group" id="lineItemEndDateTimeDatetimepicker" data-target-input="nearest">
                    <div class="input-group-prepend">
                        <a class="btn btn-secondary text-white" data-target="#lineItemEndDateTimeDatetimepicker" data-toggle="datetimepicker">
                            <i class="fas fa-calendar-day" aria-hidden="true"></i>
                        </a>
                    </div>
                    <input id="lineItemEndDateTime" name="lineItemEndDateTime" type="text" class="form-control datetimepicker-input" data-target="#lineItemEndDateTimeDatetimepicker" aria-describedby="lineItemEndDateTimeHelp"/>
                </div>
                <small id="lineItemEndDateTimeHelp" class="form-text text-muted">Line item end date</small>
            </div>
        </div>
    </div>
</form>
<script>
    $("#lineItemStartDateTimeDatetimepicker").datetimepicker({
        format: "YYYY-MM-DD HH:mm",
        allowInputToggle: true,
        buttons: {
            showToday: true,
            showClear: true,
            showClose: true
        }
    });
    $("#lineItemEndDateTimeDatetimepicker").datetimepicker({
        format: "YYYY-MM-DD HH:mm",
        allowInputToggle: true,
        buttons: {
            showToday: true,
            showClear: true,
            showClose: true
        }
    });
</script>