<br/>
<div class="card bg-light">
    <div class="card-header">
        <i class="fas fa-graduation-cap"></i>&nbsp;AGS line items container service response
    </div>
    <div class="list-group list-group-flush">
        {% for lineItem in lineItemsContainer.lineItems.all %}
            <a class="list-group-item list-group-item-action clickable" data-toggle="modal" data-target="#acsModal" data-line-item="{{ lineItem|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}">
                <code>{{ lineItem.identifier }}</code>
            </a>
        {% else %}
            <a class="list-group-item list-group-item-dark">
                <i class="fas fa-ban"></i>&nbsp;No line items found
            </a>
        {% endfor %}
    </div>
    <div class="card-footer text-muted">
        <small>AGS line items container service response: {{ lineItemsContainer.lineItems.all|length }} line items(s) found</small>
    </div>
</div>
<script>
    hljs.initHighlightingOnLoad();
</script>