<br/>
<div class="card bg-light">
    <div class="card-header">
        <i class="fas fa-graduation-cap"></i>&nbsp;AGS line items container service response
    </div>
    <ul class="list-group list-group-flush">
        {% for lineItem in lineItemsContainer.lineItems.all %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <code>{{ lineItem.identifier }}</code>
                <button
                        type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#agsModal"
                        data-modal-body='{{ include('tool/ajax/ags/viewLineItem.html.twig', {'registration': registration, 'lineItem': lineItem}) }}'
                >
                    <i class="fas fa-cogs"></i>&nbsp;Manage
                </button>
            </li>
        {% else %}
            <a class="list-group-item list-group-item-dark">
                <i class="fas fa-ban"></i>&nbsp;No line items found
            </a>
        {% endfor %}
    </ul>
    <div class="card-footer text-muted">
        <small>AGS line items container service response: {{ lineItemsContainer.lineItems.all|length }} line items(s) found</small>
    </div>
</div>
<script>
    hljs.initHighlightingOnLoad();
</script>